html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #a2d2ed;
  /* color: white; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.circle{
  width: 100vh;
  height: 100vh;
  border-radius: 50%;
  z-index: 999;
  opacity: 0.2;
  position: absolute;
}

