.container{
    padding: 10px 100px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.title{
    border-bottom: 3px solid #fff;
    width: max-content;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 300px;
    background-color: aliceblue;
    color: #03294b;
    padding:0.5rem 1rem;
    border-radius: 10px;
    text-align: center;
}
.image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}

.name{
    font-size: 18px;
    font-weight: bold;
    color: rgb(150, 146, 141);
}
.jobTitle{
    font-weight: 300;
}

.section{
    width: 100%;
    height: auto;
    background-color: #ffffff4b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-top: 1rem;
}
.head{
    color: #03294b;
    text-align: center;
}
.headText{
    margin-bottom: 0;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #04549b;    
}
.callNow{
    width: 25%;
    height: 40px;
    background-color: #04549b;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}